sem5/oop/labs/3/shop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="catalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="tv">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="company" type="xs:string" />
							<xs:element name="model" type="xs:string" />
							<xs:element name="country" type="xs:string" />
							<xs:element name="resolution" type="xs:string" />
							<xs:element name="diagonal" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
